body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  }

  h1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  }

  #wish-list-container {
    width:1279px;
    margin:auto;
    margin-top:50px;
  }

  #wish-items-container {
    width:1279px;
    margin:auto;
    margin-top:50px;
  }
  #person-container {
    width:250px;
    margin:auto;
    margin-top:50px;
  }

  #new-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  }
  
  .wish-card{
    float:left;
    width:393px;
    height: 555px;
    background-color: rgb(9, 104, 56);
    color: #000080;
    margin:15px;
    text-align: center;
  }
  .center-text {
    text-align: center;
  }