body {
  /* font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
  font-family: 'Satisfy', cursive;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("https://i.pinimg.com/originals/91/5a/14/915a14fdbc67cf4b160a3932c19f1b4e.jpg"), url('https://static.nashvillewraps.com/images/sku/1278285-XLARGE.jpg');
  background-repeat: no-repeat, repeat;
  background-color: rgb(255, 255, 255);
  background-size: cover;
  background-position: center;
  }
  
  h1, h3 {

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color:  rgb(211, 214, 6);
  }
  
  h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color:  rgb(2, 2, 1);
    }

  #item-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color:  rgb(0, 0, 0);
  }
      
  #wish-list-container {
    width: 1279px;
    margin: auto;
    margin-top: 50px;
  }

  /* #wish-items-container {
    width:1279px;
    margin:auto;
    margin-top:50px;
    
  } */
  #santas-image {
    width: 100%;
    height: 150px;
    /* display: block; */
    margin: auto;
    justify-content: center;
    border-radius: 15px;
    border: 20px solid rgb(196, 11, 11);
  }

  #new-list-container {
    width: 250px;
    margin: auto;
    margin-top: 50px;
  }

  #new-list-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  }

  .list-card{
    float: right;
    /* display: flex; */
    flex-direction: column;
    justify-content: center; 
    width:250px;
    height: 250px;
    background-color: rgb(136, 1, 1);
    color: #000000;
    margin: 15px;
    text-align: center;
  }

  .item-card{
    float: left;
    width: 250px;
    height: 450px;
    background-color:  rgb(136, 1, 1);
    color: #000000;
    margin: 15px;
    text-align: center;
  }
  .center-text {
    text-align: center;
  } 